@charset "utf-8";
/**
 * wap站1.0 全局变量
 * 
 * @功能说明：定义所有的全局变量，
 * @author：周海 zhouhai@zhimq.com
 * @addtime: 2014-09-09
 */

// 颜色系统 start
$mainColor1: #E25355;  //橙色
$mainColor2: #E8940B;  //浅橙
$mainColor3: #ffffff;  //white
$mainColor4: #000000;  //black

// 辅色
$assistColor1: #ffd07b; // 橙
$assistColor2: #fa8468; // 红
$assistColor3: #a9d381; // 绿
$assistColor4: #6fceb8; // 蓝1
$assistColor5: #78cde2; // 蓝2
$assistColor6: #ceb3e6; // 紫
$assistColor7: #ff7c70; // 梅红

// 灰色
$gray1: #222;
$gray2: #333;
$gray3: #666;
$gray4: #999;
$grayb: #bbb;
$grayd: #ddd;
$grayc: #ccc;
$graye: #eee;
$graye7: #e7e7e7;
$grayf5: #f5f5f5;
$grayf8: #f8f8f8;


$lightGray: #ebebeb;
$gray: #e0e0e0;
$darkGray: #999999;

// 字体颜色
$fontWhite: #f5f5f5;
$fontBlack: #333;
$black: #000000;
$fDarkGray: #333333; // 用于字体的颜色，f = font
$fLightGray: #666666;

// 边框灰色
$borderGray: #d7d7d7;
$lightBorderGray: #e7e7e7;

// 背景灰色
$backGray: #f5f5f5;
$backWhite: #ffffff;

// input background color
$inputbackGray:#F9F8F8;

// 标题颜色
$titleColor:#26282e;
$subTitleColor:#ababab;


// 边距
$gap0: 0px;
$gap1: 5px;
$gap2: 10px;
$gap3: 15px;
$gap4: 20px;
$gap5: 25px;
$gap6: 30px;
$gap7: 40px;
$gap8: 50px;
$gap9: 100px;

// 字号
$fontsize0: 1.0rem;
$fontsize1: 1.1rem;
$fontsize2: 1.2rem;
$fontsize3: 1.3rem;
$fontsize4: 1.4rem;
$fontsize5: 1.5rem;
$fontsize6: 1.6rem;
$fontsize7: 1.7rem;
$fontsize8: 1.8rem;
$fontsize9: 1.9rem;
$fontsize10: 2.0rem;
$fontsize11: 2.1rem;
$fontsize12: 2.2rem;
$fontsize14: 2.4rem;
$fontsize15: 2.5rem;
$fontsize24: 3.4rem;
$fontsize28: 3.8rem;

// 字体 
$numberFont: Arial;
$textFont: arial,'Hiragino Sans GB','Microsoft Yahei','Î¢ÈíÑÅºÚ','ËÎÌå',\5b8b\4f53,Tahoma,Arial,Helvetica,STHeiti;
$specialFont: "微软雅黑";
// 价格
$priceFont1: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$priceFont2: Impact, Arail, sans-serif;

// 层级z-index
$layer1:-1;
$layer2:1;
$layer3:5;
$layer4:10;
$layer5:20;
$layer6:30;
$layer7:40;
$layer8:50;
$layer9:99999;

// 宽度
$perWidth:100%;
$absWidth:640px;

// 行距
$lineHeight:1.5;
$smallLineHeight: 1.2;

// 边框宽度
$thinBorder:1px;
$wideBorder:2px;

// 变框圆角
$smallRadius: 4px;
$middleRadius: 8px;


