@charset "utf-8";
/**
 * @description: 测试
 * @author: 周海 (zhouhai@ihomefnt.com)
 * @update: 周海 (2015-04-16 09:48)
 */
@import "../base/reset";
@import "../base/base";
body{
	overflow:hidden;
}
::-webkit-input-placeholder{
	color:#797899;
}
.container{
	overflow:hidden;
	.fixed-header{
		background: #252337;
		height:50px;
		.textfield{
			margin-right: 80px;
			padding: 10px 12px;
			input{
				width:100%;
				padding:5px 10px;
				background:#202031;
				color:#fff;
				border-radius:4px;
				font-size: 1.4rem;
			}
			
		}
		a{
			position: absolute;
			top:10px;
			right:12px;
			display: inline-block;
			background:#484866;
			color:#9696B4;
			padding:5px 10px;
			border-radius: 4px;
			font-size: 1.4rem;
		}
		.highlight{
			background:#903cf9;
			color:#fff;
		}
	}
	#wrapper{
		overflow: hidden;
		height:500px;
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#4b323f), to(#a26147));
	}
	#h5player{
		width:100%;
		margin:0;
		padding:0;
		background:#000;
		video{
			display: block;
		}
	}
	.scroll-body{
		// 先使用纯色，后面考虑渐变色
		overflow-x: hidden;
		overflow-y: scroll;
		#messages{
			padding:12px;
			overflow:hidden;
			margin-bottom: 60px;
			.bubble{
				clear:both;
				background:rgba(255,255,255,0.95);
				border-radius:4px;
				overflow: hidden;
				position:relative;
				margin-bottom: 10px;
				font-size: 1.6rem;
				float:left;
				max-width: 90%;
				.face{
					position: absolute;
					top:0;
					left:0;
					width:37px;
					height:100%;
				}
				p{
					margin-left: 37px;
					padding:10px 15px;
				}
			}
			.bubble:last-child{
				margin-bottom: 0;
			}
			.my-bubble{
				clear:both;
				background:rgba(72,71,103,0.75);
				border-radius:4px;
				overflow: hidden;
				position:relative;
				margin-bottom: 10px;
				font-size: 1.6rem;
				float: right;
				max-width: 90%;
				.face{
					position: absolute;
					top:0;
					right:0;
					width:37px;
					height:100%;
				}
				p{
					margin-right: 37px;
					padding:10px 15px;
					color:#fff;
				}
			}
			.my-bubble:last-child{
				margin-bottom: 0;
			}
			.sys-bubble{
				clear:both;
				background:rgba(72,71,103,0.75);
				border-radius:4px;
				overflow: hidden;
				position:relative;
				margin-bottom: 10px;
				font-size: 1.6rem;
				float: right;
				max-width: 90%;
				color:#fff;
				.face{
					position: absolute;
					top:0;
					right:0;
					width:37px;
					height:100%;
				}
				p{
					margin-right: 37px;
					padding:10px 15px;
					color:#fff;
				}
			}
			.sys-bubble:last-child{
				margin-bottom: 0;
			}
		}
	}
	.fixed-footer{
		position:fixed;
		bottom:-1px;
		left:0;
		background:rgba(37,35,56,0.9);
		height:60px;
		width:100%;
		.ad{
			.logo{
				display: inline-block;
				margin-left: 12px;
				margin-top: 12px;
				width:196px;
				height:37px;
			}
			.down{
				display: inline-block;
				float: right;
				margin-right: 12px;
				margin-top: 12px;
				line-height:60px;
				img{
					width: 90px;
					height:37px;
				}
			}
		}
		span{
			position:absolute;
			top:-10px;
			right:5px;
			display: block;
			width:20px;
			height:20px;
			border-radius:20px;
			background:rgba(37,35,56,0.9);
			img{
				margin-left: 5px;
				margin-top: 5px;
				width:10px;
				height:10px;
			}
		}
	}
}
